/* hero.css */

/* Hero Section */
.hero {
    background-image: linear-gradient(to top,
            var(--dark-color) 0%,
            /* Dark at the bottom */
            rgba(13, 13, 13, 0.8) 5%,
            /* Keep it dark until 5% height */
            rgba(13, 13, 13, 0) 100%
            /* Gradually fade to transparent from 50% to 100% */
        ),
        url('../../img/pages/index/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: var(--light-color);
    text-align: center;
    padding: 100px 20px;
    position: relative;
}


.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(13, 13, 13, 0.8);
    pointer-events: none;
    /* Prevents interaction with the after element */
}


.hero-content {
    position: relative;
    z-index: 1;
}

/* New containers for H1 and H2 */
.h1-container {
    height: 80px;
    /* Set a fixed height for the H1 container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ensures text doesn't overflow */
}

.h2-container {
    height: 60px;
    /* Set a fixed height for the H2 container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ensures text doesn't overflow */
}

.button-container {
    margin-top: 20px;
    /* Adds some space between the h2 and the button */
    display: flex;
    justify-content: center;
}

.hero h1 {
    font-family: 'Graduate', sans-serif;
    font-size: 48px;
    margin: 0;
    /* Remove margin to prevent additional height */
}

.hero h2 {
    font-family: 'Graduate', sans-serif;
    font-size: 24px;
    margin: 0;
    /* Remove margin to prevent additional height */
}

a.btn {
    margin-top: 20px;
    /* Adds some space between the h2 and the button */
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 18px;
    }

    .h1-container {
        height: 60px;
        /* Adjust height for smaller screens */
    }

    .h2-container {
        height: 80px;
        /* Adjust height for smaller screens */
    }
}