/* hero.css */

/* Hero Section */
.hero {
    background-image: url('../../img/pages/index/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: var(--light-color);
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(13, 13, 13, 0.8);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-family: 'Graduate', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.hero h2 {
    font-family: 'Graduate', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
}