<section class="cards">
    <div class="container">
        <h2>Our Focus Areas</h2>
        <div class="card-grid">
            <article class="card-item">
                <img src="./img/pages/index/education.jpg" alt="Education and Knowledge Sharing" loading="lazy">
                <h3>Education and Knowledge Sharing</h3>
                <p>Collaborative learning to empower individuals with cybersecurity expertise.</p>
                <a href="./about.html" class="btn">Our Knowledge</a>
            </article>
            <article class="card-item">
                <img src="./img/pages/index/ctf.jpg" alt="Capture the Flag Competitions" loading="lazy">
                <h3>Capture the Flag Competitions</h3>
                <p>Hands-on experience through participation in high-pressure CTF events.</p>
                <a href="./activities.html" class="btn">What more?</a>
            </article>
            <article class="card-item">
                <img src="./img/pages/index/ethical_hacking.jpg" alt="Ethical Commitment" loading="lazy">
                <h3>Ethical Committed Community</h3>
                <p>Adhering to a strict ethical code to ensure responsible and legal hacking practices.</p>
                <a href="./ethics.html" class="btn">Our Ethics</a>
            </article>
        </div>
    </div>
</section>