<div class="container">
    <a href="./index.html" class="logo">
        <img src="./img/logo/logo.png" alt="The Hague Hackers Logo">
    </a>
    <!-- Navigation -->
    <nav class="main-nav" aria-label="Main Navigation">
        <!-- Menu Toggle Button for Mobile -->
        <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
            <i class="fas fa-bars" aria-hidden="true"></i>
        </button>
        <ul class="nav-list">
            <li class="nav-item"><a href="./index.html">HOME</a></li>
            <li class="nav-item"><a href="./about.html">ABOUT US</a></li>
            <li class="nav-item"><a href="./activities.html">ACTIVITIES</a></li>
            <li class="nav-item"><a href="./contact.html">CONTACT</a></li>
        </ul>
    </nav>
</div>